:root {
  --heading-font-family: "Quintessential", serif;
  --default-font-family: "Supermercado One", serif;
}

body {
  background-color: #f9f9f9 !important;
  color: #01352c !important;
}
.container {
  max-width: 600px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.5;
  font-size: 48px !important;
}

.form-container {
  padding: 20px;
  background-color: #ebcbae;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
}
.hidden {
  display: none;
}
.hint {
  opacity: 0.6;
  line-height: 1.5;
  font-size: 15px !important;
  margin-left: 17px;
}
.prompt-input {
  padding: 15px;
  border-radius: 30px;
  border: 2px solid #8f8787;
  width: 70%;
  font-size: 16px;
}
.prompt-button {
  padding: 17px 20px;
  width: 120px;
  border-radius: 30px;
  background: #975a5e;
  color: white;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 3px 10px #975a5e;
  &:hover {
    background: #f9f9f9;
    padding: 15px 20px;
    color: black;
    border: 3px solid #975a5e;
    transition: all 150ms ease-in-out;
  }
}

.quote {
  background-color: #ebcbae;
  color: black;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  border-left: 3px solid #975a5e;
  max-width: 600px !important;
  margin: 0 auto;
  text-align: left !important;
}

.quote strong {
  color: #ebcbae;
}

.footer-icons {
  background-color: #ebcbae;
  color: #f9f9f9;
  padding: 10px;
  border-radius: 30px;
  &:hover {
    background: #f9f9f9;
    color: #975a5e;
    transition: all 150ms ease-in-out;
  }
}

.project-link {
  color: #975a5e;
}

@media (max-width: 578px) {
  h1 {
    font-size: 30px !important;
  }
  .hint {
    font-size: 10px !important;
  }
  .prompt-input {
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    font-size: 12px;
  }
  .prompt-button {
    padding: 10px;
    width: 100px;

    margin-left: 10px;
    font-size: 14px;
  }
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
